//BASIC STYLING FOR ALL DEVICES:

//Color scheme:
@ultraLight: lighten(@medium, 35);//
@light: lighten(@medium, 15);
@medium: #fff;//#C8BEBA;90A4AE
@dark: darken(@medium, 15);
@ultraDark: darken(@medium, 35);

@darkGrey: #4f4f4f;
@yellow: #efff00;
@ravenBlack: #232323;
@darkPurple: #900674;

@maxWidth: 1200px;

@contentPadding: 10px;
@contentPaddingM10: (@contentPadding - 10);

@generalPadding_4: 4px;
@generalPadding_8: 8px;
@generalPadding_12: 12px;
@generalPadding_16: 16px;

@fontFamily: 'Shree Devanagari 714', ;

img {
    max-width: 100%;
}

#rabeLogo{
    background-image: url("http://derrabe.dk/Images/RabeLogo04Transparent.png");
    width: 100%;
    height: 262px;
    background-size: contain;
    background-repeat: no-repeat;
}
#rabeLogo:hover{
    background-image: url("Images/RabeLogo04Transparent_Black.png");
}

//Body-element styling
.app { 
    background-color: @dark;
    background-color: @ultraLight;
    padding: @generalPadding_8;
    font-size: 1.2em;
    color: @darkGrey;
    align-content: center;
    max-width: @maxWidth;
    margin-left: auto;
    margin-right: auto;
    //border: 12px solid @light
    font-family: 'Shree Devanagari 714';
}
/*Container in App*/
.content {
    background-color: @ultraLight;
    padding: @generalPadding_8;
}
div {
    background-color: @medium;
}

h1{
    font-size: 2em;
    color: @darkPurple;
}
//Directive-specific styling
.directive {
    background-color: @ultraDark;
    padding: 12px;
    font-size: 1.3em;
    color: @ultraLight;
}

.tableDiv {
    //padding-left: @generalPadding_8;
    padding: 0px;
    background-color: @ravenBlack;
    overflow: hidden;
    margin-top: 50px;
}

.col{
    float:left;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 16px;
    background-color: @ravenBlack;
    color: @ultraLight;
    color: #209b92;
}

.first_column{

}

.not_firstColumn{
    padding-left: 16px;
}

.col_3of4 {
    width: (100% / 4 * 3); // 100% / antal kollonner
}

.col_2of4{
    width: (100% / 4 * 2); // 100% / antal kollonner
}

.col_1of4 {
    width: (100% / 4); // 100% / antal kollonner
}

.rabeLogo:hover{
    src: "Images/RabeLogo04Transparent_White.png";

}

//BOOTSTRAP MODIFICATIONS
.navbar-default .navbar-brand, .navbar-default .navbar-brand{color:@ultraDark;}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{color:@ultraLight;}
.navbar-default .navbar-nav>li>a {color: @ultraDark;}
.navbar-default .navbar-nav>li>a:hover {color:@ultraLight;}


// SOUNDCLOUD PLAYER
.g-background-default,
.sc-background-white,
.sc-background-light,
.dark{
    background-color: #232323;
}

.widget {
    border: 0px solid #e5e5e5;
}

.content>.iframe{
    height: 600px;
}
.col.iframeColumn{
    background-color: #fff;
    padding: 0 0 0 24px;
}


.fas{
    float: left;
    font-size: 3rem;
    margin-right: 12px;
    margin-top: 12px;
    color: @darkPurple;
}

//MEDIA QUERIES SPECIFIC (BOOTSTRAP BASED)

//Miinimum SIZE
@media (max-width: 767px){ //mindre en 768 px width
    .content>.iframe{
        height: 400px;
    }
    .col.iframeColumn {
        background-color: #232323;
        padding: 24px 0;
        float:none;
        width: 100%;
    }
    .app { 
        font-size: 1.5em;
    }
    .col {
        //float:none;
        width: 50%;
    }
    .content {
    padding: @generalPadding_8;
    }
    .tableDiv {
    padding: @contentPaddingM10;
    overflow: hidden;
    }
}

//Miinimum SIZE
@media (max-width: 460px){ //mindre en 768 px width
    .content>.iframe{
        height: 200px;
    }
    .col {
        float:none;
        width: 100%;
    }
}

@media (min-width: 768px){
    .container {
        width: 100%;
    }
}

//Medium SIZE
@media (min-width: 992px){
    .container {
        width: 100%;
    }
}

//Max SIZE
@media (min-width: 1200px){
    .container {
        width: 100%;
    }
}



